version: '3.8'
services:
  # The Frontend Website
  web:
    build: .
    container_name: fisc_frontend
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env.local
    environment:
      - WATCHPACK_POLLING=true
    healthcheck:
        test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
        interval: 10s
        timeout: 5s
        retries: 5
    depends_on:
      - db

  # The Database
  db:
    image: postgres:15-alpine
    container_name: fisc_local_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fisc_financial_local
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
